services:
  db:
    image: postgres:16-alpine
    container_name: user-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: user_management
    ports:
      - "0:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: user-backend
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/user_management?schema=public"
    depends_on:
      - db
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    container_name: user-frontend
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  db_data:
